{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 9</title>
{% endblock meta %}

{% block content %}
<div class="container text-center mt-5 pt-5 mb-5 pb-5">
    {% if user.is_authenticated %}
    <h3>Greetings, {{ user.username }}</h3>
    <p><a href="{% url 'main:logout' %}">Log Out</a></p>
    {% else %}
    <h3>You are not logged in</h3>
    <p><a href="{% url 'main:login' %}">Log In</a></p>
    {% endif %}
{% endblock content %}
