{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 9</title>
{% endblock meta %}

{% block content %}
<div class="container text-center mt-5 pt-5 mb-5 pb-5">
    <form action="{% url 'main:login' %}" method="post">
        {% csrf_token %}
        <div>
            <h2>Log In</h2>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fa fa-key"></i>
                    </span>
                </div>
                <input type="text" placeholder="Username" name="username" id="username">
            </div>
            <br>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fa fa-key"></i>
                    </span>
                </div>
                <input type="password" placeholder="Password" name="password" id="password">
            </div>
            <button type="submit" class="btn btn-dark">Log In</button>
            {% if success == False %}
        <p style="color: red;">Login attempt failed. Please make sure you have the correct Username & Password</p>
        <br>
        {% endif %}
        <p>Create an Account <a href="{% url 'main:signup' %}">Sign Up</a></p>
        </div>
    </form>
</div>
{% endblock content %}