{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 9</title>
{% endblock meta %}

{% block content %}
<div class="container text-center mt-5 pt-5 mb-5 pb-5">
    <form action="{% url 'main:signup' %}" method="post">
        {% csrf_token %}
    <div>
        <h2>Create an Account</h2>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
            </div>
            <input type="text" placeholder="Username" name="username" id="username">
        </div>
        <br>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
            </div>
            <input type="email" placeholder="E-mail" name="email" id="email">
        </div>
        <br>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
            </div>
            <input type="password" placeholder="Password" name="password" id="password">
        </div>
        <br>
        <button type="submit" class="btn btn-dark">Sign Up</button>
        <br>
        <p>Already have an account? <a href="{% url 'main:login' %}">Log In</a></p>
    </div>
    </form>
</div>
{% endblock content %}